<footer id="footer" class='container-fluid pb-4 pt-4 '>
    <p>© 2021 Reballing Zulia. Derechos Reservados.</p>
    <ul class="list-unstyled d-flex">
      <li><a href="https://twitter.com/reballingzulia?lang=es" target="_blank"><img src="../assets/twitter.png" width="24" height="24"></a></li>
      <li><a href="https://www.instagram.com/reballingzulia/?hl=es" target="_blank"><img src="../assets/instagram.png" width="24" height="24"></a></li>
      <li><a href="https://m.facebook.com/jose.colina.7568" target="_blank"><img src="../assets/facebook.png" width="24" height="24"></a></li>
    </ul>
</footer>