<div class="container-fluid p-0">
  <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="../assets/placa1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="../assets/placa2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="../assets/placa3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="../assets/placa4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="../assets/placa5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/placa6.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/placa7.jpg" class="d-block w-100" alt="...">
      </div>
      </div>
      <div class="overlay">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col text-center">
                    <h1>NUESTROS SERVICIOS</h1>
                    <p class='d-md-block'>Conoce todos los servicios que ofrecemos</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<hr class="featurette-divider" >
    <div class="row featurette m-2">
      <div class="col-md-7">
        <h2 class="featurette-heading">Soporte Técnico. <span class="text-muted">Asistencia Técnica al Cliente.</span></h2>
        <p class="lead">Brindar soluciones en tecnología para contribuir al desarrollo profesional de nuestros clientes, brindando asistencia técnica eficiente con excelencia. De esta forma, podemos ayudar a los clientes a tener una estabilidad en sus equipos de computo y con recomendaciones de servicios en mantenimiento preventivo para toda clase de equipos electrónicos.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/soporte2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette m-2">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Diagnóstico de Fallas. <span class="text-muted">Herramientas adecuadas al caso.</span></h2>
        <p class="lead">Dectectar las Fallas es parte de nuestro trabajo. Cada pieza electrónica es revisada con la herramienta adecuada para su efectivo diagnostico. Esta tarea es realizada con el mayor cuidado posible para garantizar que la reparaciones posteriores sean duraderas.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/diagnostico2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette m-2">
      <div class="col-md-7">
        <h2 class="featurette-heading">Cortocircuitos. <span class="text-muted">Técnicas de testeo correctas.</span></h2>
        <p class="lead">Nuestras técnicas de testeo en busca de cortocircuitos, se realizan con la mayor precisión y paciencia. Debido a que cada placa contiene componentes electrónicos con diseños y propósitos específicos. Toda busca de cortocircuito necesita del tiempo necesario para encontrarlo.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/corto2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette m-2">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Baños Químicos <span class="text-muted">Baños químicos garantizados.</span></h2>
        <p class="lead">Realizamos lavados químicos a todo tipo de placa electrónica. Cada lavado con lleva su tiempo de ejecución y limpieza con el objetivo de lograr la mayor purificación de los componentes para su posterior mantenimiento o reparación.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/lavadora.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette m-2">
      <div class="col-md-7">
        <h2 class="featurette-heading">Mantenimientos Preventivos. <span class="text-muted">Mantenimientos específicos a su requerimiento.</span></h2>
        <p class="lead">Nuestros mantenimientos preventidos estan orientados a preservar el buen funcionamiento de los equipos electrónicos, con los suplementos correctos para cada componente electrónico en cada caso particular tratado.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/mantenimiento2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette m-2">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Reballing. <span class="text-muted">Reparaciones en todo tipo de Reballing.</span></h2>
        <p class="lead">El reballing es una técnica de reparación que consiste en volver a soldar el componente afectado en la PCB, generalmente el chip gráfico o GPU. Nuestra empresa consta con mas de 10 años de experiencia en la realización de reballing. Somos capaces de rehacer la soldadura siempre que esta sea de tipo BGA (Ball Gray Array), y por eso esta técnica se conoce como reballing.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/reballing2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" id="card">
      </div>
    </div>
    <hr class="featurette-divider">